
.ant-select-selector {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}
.ant-select-arrow {
  color: #20A8D8 !important;
}

.ant-select-selection-item{
  font-weight: 700 !important;
}

